
<div class="container">



    <!-- Phần nội dung chính -->

    <div class="row justify-content-lg-end">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="page-section">
                <h1 class="page-title" >Danh sách bàn</h1>
            </div>
        </div>
        <button type="button" class="btn btn-outline-success mr-5 " data-toggle="modal" data-target="#exampleModal">
            Add Table
        </button>
    </div>
    <div class="container mt-5 justify-content-center">

        <div class="card-columns">
            <% for (var i = 0; i < listTable.length; i++) { %>
                <div class="card p-3" id="item_User">
                    <div class="d-flex align-items-center">
                        <div class="image"><img style="width: 155px; height: 155px"
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOMa3gyhaJRl0ylT08714xasFmnFYE89BsbA&usqp=CAU"
                                                class="rounded"></div>
                        <div class="ml-3 w-100" id="name">
                            <h6 class="mb-0 mt-0">Số bàn : <%= listTable[i].tableCode %></h6>
                            <span>Chỗ ngồi : <%= listTable[i].tableSeats %></span>
                            <div>
                                <a href="/tables/<%= listTable[i]._id %>/delete"
                                   onclick="return confirm('Bạn có muốn xóa bàn này')"
                                   class="btn btn-danger btn-sm">Xóa</a>
                                <a href="/tables/<%= listTable[i]._id %>/update" class="btn btn-sm btn-primary">Cập
                                    nhật</a>
                            </div>
                        </div>
                    </div>
                </div>

            <% } %>
        </div>


    </div>

</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link"  onclick="prePage(<%=currentPage%>)"  <% if (currentPage == 1) {%> tabindex="-1" <%}%>>Previous</a>
        </li>
        <% for (let i = 1; i <= totalPages; i++) {%>
            <li class="page-item "><a class="page-link <% if (i == currentPage) {%> selected <%}%>" onclick="changePage(i)"  href="/tables?page=<%=i%>"><%=i%></a></li>
        <%}%>
        <li class="page-item">
            <a class="page-link" onclick="nextPage(<%=currentPage%>)" href="#">Next</a>
        </li>
    </ul>
</nav>


<script>
    function changePage(currentPage) {
        console.log(currentPage)
    }

    function prePage(currentPage) {

    }

    function nextPage(currentPage) {
        currentPage++
    }
    // Returns an array of maxLength (or less) page numbers
    // where a 0 in the returned array denotes a gap in the series.
    // Parameters:
    //   totalPages:     total number of pages
    //   page:           current page
    //   maxLength:      maximum size of returned array
    function getPageList(totalPages, page, maxLength) {
        if (maxLength < 5) throw "maxLength must be at least 5";

        function range(start, end) {
            return Array.from(Array(end - start + 1), (_, i) => i + start);
        }

        var sideWidth = maxLength < 9 ? 1 : 2;
        var leftWidth = (maxLength - sideWidth*2 - 3) >> 1;
        var rightWidth = (maxLength - sideWidth*2 - 2) >> 1;
        if (totalPages <= maxLength) {
            // no breaks in list
            return range(1, totalPages);
        }
        if (page <= maxLength - sideWidth - 1 - rightWidth) {
            // no break on left of page
            return range(1, maxLength - sideWidth - 1)
                .concat(0, range(totalPages - sideWidth + 1, totalPages));
        }
        if (page >= totalPages - sideWidth - 1 - rightWidth) {
            // no break on right of page
            return range(1, sideWidth)
                .concat(0, range(totalPages - sideWidth - 1 - rightWidth - leftWidth, totalPages));
        }
        // Breaks on both sides
        return range(1, sideWidth)
            .concat(0, range(page - leftWidth, page + rightWidth),
                0, range(totalPages - sideWidth + 1, totalPages));
    }

</script>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm Bàn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/tables/create" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Table Code</label>
                        <input type="number" class="form-control" name="tableCode">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Seat</label>
                        <input type="number" class="form-control" name="tableSeats">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>