

    <!-- Phần nội dung chính -->

    <div class="page-section text-center">
        <h1 class="page-title" style="margin-top: 20px">Danh sách nhân viên</h1>
    </div>

    <div class="row justify-content-lg-end">
        <div class="col-4 m-3">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>




    <div class="card-columns">
        <% for (var i = 0; i < users.length; i++) { %>
        <div class="card" >

            <img class="card-img-top"  src="<%= users[i].avatar %>" alt="Card image cap" width="150" height="300">
            <div class="card-body">
                <h5 class="card-title"><%= users[i].fullName %></h5>
                <span>Chức vụ: <%= users[i].role %></span>
                <p class="card-text">Số điện thoại:</span> <span
                            class="number1"><%= users[i].phone %></p>
                <a href="/users/info/<%= users[i]._id %>" class="btn btn-primary">Hồ sơ</a>
                <% if (users[i].role != "Admin"){ %>
                    <a
                       onclick="return confirm('Bạn có muốn xóa thông tin người này')"
                       href="/users/delete/<%= users[i]._id %>"
                       class="btn btn-danger">Xoá</a>
                <% } %>
            </div>
        </div>
        <% } %>

    </div>




